body {
  font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
}

a {
  color: var(--el-color-primary);
}

.emo-image {
  width: 25px;
  vertical-align: sub;
}

input[type=file],

/* FF, IE7+, chrome (except button) */

input[type=file]::-webkit-file-upload-button {
  /* chromes and blink button */
  cursor: pointer;
}
